{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
{% if app.user %}
    {# L'utilisateur est connecté #}
    <p>Bonjour {{ app.user.email }} !</p>
    <p>Vous êtes connecté en tant que {{ app.user.email }}</p>
    
    {% if 'ROLE_ADMIN' in app.user.roles %}
        <p>Vous avez accès aux fonctionnalités d'administration.</p>
    {% endif %}
    {% else %}
        <p>Vous n'êtes pas connecté.</p>
    {% endif %}
{% endblock %}
